tmp
/test
/build
node_modules
/pnpm-lock.yaml
/.vscode
/.idea
/.fleet
/coverage
/.yarn
/.pnpm-store
/.verdaccio/build/local-registry
/dist
/.env
CODEOWNERS

/.nx/cache

.pnpm-store
/.nx/workspace-data